{% extends 'products/base.html'%}
{% load static %}
{%block content%}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Крутой сайт</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="#" class="nav-link">О нас</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Цены</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
</div>

{%for p in products%}

<div class="album py-5 bg-light">
    <div class="container">


      <div class=row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <h1>{{p.category}}</h1>
        <div class="col">
          <div class="card shadow-sm">
            {%if p.photo%}
            <img width="400" src="{{p.photo.url}}" alt="Photo of {{p.name}}" >
            {%endif%}
            <div class="card-body">
              <p class="card-text"> {{p.name}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="{{p.pk}}/">Перейти к товару</a> 
                  <!-- <button type="button" onclick="{{p.pk}}" class="btn btn-sm btn-outline-secondary">Перейти к товару</button> -->
                </div>
                
                
                
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{p.description}}</small>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{p.date}}</small>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><b>Цена {{p.price}} тенге </small>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><b>Категория {{p.category}}</small>
              </div>
            </div>
          </div>
        </div>
        
  
      </div>
    </div>
  </div>

  {%endfor%}
{%endblock%}